<p id="notice"><%= notice %></p>

<p>
  <strong>Kegiatan:</strong>
  <%= @gtw_stmp.kegiatan %>
</p>

<p>
  <strong>Tanggal:</strong>
  <%= @gtw_stmp.tanggal %>
</p>

<p>
  <strong>Manifest:</strong>
  <%= @gtw_stmp.manifest_id %>
</p>

<p>
  <strong>Noref:</strong>
  <%= @gtw_stmp.noref %>
</p>

<p>
  <strong>Qty bagging fisik:</strong>
  <%= @gtw_stmp.qty_bagging_fisik %>
</p>

<p>
  <strong>Kg fisik:</strong>
  <%= @gtw_stmp.kg_fisik %>
</p>

<p>
  <strong>Awb fisik:</strong>
  <%= @gtw_stmp.awb_fisik %>
</p>

<p>
  <strong>Qty bagging manifest:</strong>
  <%= @gtw_stmp.qty_bagging_manifest %>
</p>

<p>
  <strong>Kg manisfet:</strong>
  <%= @gtw_stmp.kg_manisfet %>
</p>

<p>
  <strong>Awb manifest:</strong>
  <%= @gtw_stmp.awb_manifest %>
</p>

<p>
  <strong>Selisih bagging:</strong>
  <%= @gtw_stmp.selisih_bagging %>
</p>

<p>
  <strong>Selisih kg:</strong>
  <%= @gtw_stmp.selisih_kg %>
</p>

<p>
  <strong>Selisih awb:</strong>
  <%= @gtw_stmp.selisih_awb %>
</p>

<p>
  <strong>Fresh paket:</strong>
  <%= @gtw_stmp.fresh_paket %>
</p>

<p>
  <strong>Agent:</strong>
  <%= @gtw_stmp.agent_id %>
</p>

<p>
  <strong>Droppoint:</strong>
  <%= @gtw_stmp.droppoint_id %>
</p>

<p>
  <strong>Diterima dari:</strong>
  <%= @gtw_stmp.diterima_dari %>
</p>

<p>
  <strong>Diserahkan oleh:</strong>
  <%= @gtw_stmp.diserahkan_oleh %>
</p>

<p>
  <strong>Gtw team kerja:</strong>
  <%= @gtw_stmp.gtw_team_kerja %>
</p>

<p>
  <strong>Gtw team shift:</strong>
  <%= @gtw_stmp.gtw_team_shift %>
</p>

<p>
  <strong>Kendaraan:</strong>
  <%= @gtw_stmp.kendaraan_id %>
</p>

<p>
  <strong>Transporter team:</strong>
  <%= @gtw_stmp.transporter_team %>
</p>

<p>
  <strong>Description:</strong>
  <%= @gtw_stmp.description %>
</p>

<p>
  <strong>Tanggal approve:</strong>
  <%= @gtw_stmp.tanggal_approve %>
</p>

<p>
  <strong>User approve:</strong>
  <%= @gtw_stmp.user_approve %>
</p>

<p>
  <strong>User add:</strong>
  <%= @gtw_stmp.user_add %>
</p>

<p>
  <strong>User edit:</strong>
  <%= @gtw_stmp.user_edit %>
</p>

<p>
  <strong>Ip address:</strong>
  <%= @gtw_stmp.ip_address %>
</p>

<p>
  <strong>Flag:</strong>
  <%= @gtw_stmp.flag %>
</p>

<%= link_to 'Edit', edit_gtw_stmp_path(@gtw_stmp) %> |
<%= link_to 'Back', gtw_stmps_path %>
