<p id="notice"><%= notice %></p>

<p>
  <strong>Kegiatan:</strong>
  <%= @dpbagging.kegiatan %>
</p>

<p>
  <strong>Tanggal:</strong>
  <%= @dpbagging.tanggal %>
</p>

<p>
  <strong>Bagging:</strong>
  <%= @dpbagging.bagging_id %>
</p>

<p>
  <strong>Noref:</strong>
  <%= @dpbagging.noref %>
</p>

<p>
  <strong>Droppoint asal:</strong>
  <%= @dpbagging.droppoint_asal %>
</p>

<p>
  <strong>Kg asal:</strong>
  <%= @dpbagging.kg_asal %>
</p>

<p>
  <strong>Awb asal:</strong>
  <%= @dpbagging.awb_asal %>
</p>

<p>
  <strong>Tanggal kirim:</strong>
  <%= @dpbagging.tanggal_kirim %>
</p>

<p>
  <strong>Manifest:</strong>
  <%= @dpbagging.manifest_id %>
</p>

<p>
  <strong>Tanggal terima:</strong>
  <%= @dpbagging.tanggal_terima %>
</p>

<p>
  <strong>Droppoint terima:</strong>
  <%= @dpbagging.droppoint_terima %>
</p>

<p>
  <strong>Kg terima:</strong>
  <%= @dpbagging.kg_terima %>
</p>

<p>
  <strong>Awb terima:</strong>
  <%= @dpbagging.awb_terima %>
</p>

<p>
  <strong>Selisih kg:</strong>
  <%= @dpbagging.selisih_kg %>
</p>

<p>
  <strong>Selisih awb:</strong>
  <%= @dpbagging.selisih_awb %>
</p>

<p>
  <strong>Fresh paket:</strong>
  <%= @dpbagging.fresh_paket %>
</p>

<p>
  <strong>Description:</strong>
  <%= @dpbagging.description %>
</p>

<p>
  <strong>Tanggal approve:</strong>
  <%= @dpbagging.tanggal_approve %>
</p>

<p>
  <strong>User approve:</strong>
  <%= @dpbagging.user_approve %>
</p>

<p>
  <strong>User add:</strong>
  <%= @dpbagging.user_add %>
</p>

<p>
  <strong>User edit:</strong>
  <%= @dpbagging.user_edit %>
</p>

<p>
  <strong>Ip address:</strong>
  <%= @dpbagging.ip_address %>
</p>

<p>
  <strong>Flag:</strong>
  <%= @dpbagging.flag %>
</p>

<%= link_to 'Edit', edit_dpbagging_path(@dpbagging) %> |
<%= link_to 'Back', dpbaggings_path %>
