<tr>
	<td><%= f.text_field :perkiraan_id, class: "form-control perkiraan_id", disabled: true %></td>
	<td><%= f.text_field :acno, class: "form-control acno", disabled: true %></td>
	<td><%= f.text_field :nama_perkiraan, class: "form-control perkiraan_to_perkiraan_id", autofocus: "true", autofocus: true %></td>
	<td><%= f.text_field :description, class: "form-control", autofocus: true %></td>
	<td><%= f.text_field :debet, class: "form-control", autofocus: true %></td>
	<td><%= f.text_field :credit, class: "form-control", autofocus: true %></td>
	<td><%= f.check_box :_destroy, class: "form-action", autofocus: false %></td>
</tr>