<p id="notice"><%= notice %></p>

<p>
  <strong>Sprinter kembali:</strong>
  <%= @sprinter_gagal.sprinter_kembali_id %>
</p>

<p>
  <strong>Tanggal:</strong>
  <%= @sprinter_gagal.tanggal %>
</p>

<p>
  <strong>Karyawan:</strong>
  <%= @sprinter_gagal.karyawan_id %>
</p>

<p>
  <strong>Droppoint:</strong>
  <%= @sprinter_gagal.droppoint_id %>
</p>

<p>
  <strong>Awb:</strong>
  <%= @sprinter_gagal.awb %>
</p>

<p>
  <strong>Masalah:</strong>
  <%= @sprinter_gagal.masalah %>
</p>

<p>
  <strong>Paket:</strong>
  <%= @sprinter_gagal.paket %>
</p>

<p>
  <strong>Description:</strong>
  <%= @sprinter_gagal.description %>
</p>

<p>
  <strong>Tanggal approve:</strong>
  <%= @sprinter_gagal.tanggal_approve %>
</p>

<p>
  <strong>User approve:</strong>
  <%= @sprinter_gagal.user_approve %>
</p>

<p>
  <strong>User add:</strong>
  <%= @sprinter_gagal.user_add %>
</p>

<p>
  <strong>User edit:</strong>
  <%= @sprinter_gagal.user_edit %>
</p>

<p>
  <strong>Ip address:</strong>
  <%= @sprinter_gagal.ip_address %>
</p>

<p>
  <strong>Flag:</strong>
  <%= @sprinter_gagal.flag %>
</p>

<%= link_to 'Edit', edit_sprinter_gagal_path(@sprinter_gagal) %> |
<%= link_to 'Back', sprinter_gagals_path %>
