<div class="row">
<div class="col-md-12">
<div class="card text-white bg-dark card-border-color card-border-color-primary">
	<div class="card-header card-header-divider row">
		<div class="col-9 card-subtitle"><h3>Sprinter Monitoring Bawa Paket</h2></div>
		<div class="col-sm card-subtitle"><%= link_to "New Trip Sprinter", new_sprinter_bawa_path, class: $s3sukses %></div>
	</div>
<div class="card-body">

<div class="table-responsive-sb">
<table class="table table-bordered table-hover">
	<thead class="thead-success">
		<tr>
			<th>Tanggal</th>
			<th>DP</th>
			<th>Sprinter</th>
			<th>Form</th>
			<th class="text-right">KM</th>
			<th class="text-right">BAWA</th>
			<th class="text-right">Awb COD</th>
			<th class="text-right">Nilai COD</th>
			<th class="text-right">Awb DFOD</th>
			<th class="text-right">Nilai DFOD</th>
			<th class="text-right">Pp-Cash</th>
			<th>Keterangan</th>
			<th>View</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		<% @sprinter_bawas.each do |j| %>
		<tr>
			<td><%= j.tanggal.try(:strftime, ("%d/%m/%Y")) %></td>
			<td><%= j.nama_dp %></td>
			<td><%= j.nama_karyawan %></td>
			<td><%= j.nomor_form %></td>
			<td class="text-right"><%= number_with_delimiter j.km_start %></td>
			<td class="text-right"><%= number_with_delimiter j.awb_bawa %></td>
			<td class="text-right"><%= number_with_delimiter j.awb_cod %></td>
			<td class="text-right"><%= number_with_delimiter j.nilai_cod %></td>
			<td class="text-right"><%= number_with_delimiter j.awb_dfod %></td>
			<td class="text-right"><%= number_with_delimiter j.nilai_dfod %></td>
			<td class="text-right"><%= number_with_delimiter j.awb_ppcash %></td>
			<td><%= j.description %></td>
			<td><%= link_to "View", edit_sprinter_bawa_path(j.id) %></td>
			<td><%= link_to "Delete", sprinter_bawa_path(j.id), method: :delete, data: {confirm: "Anda yakin mau hapus data #{j.karyawan_id} #{j.nama_karyawan} #{j.awb_bawa}?"} %></td>
		</tr>
		<% end %>
	</tbody>
</table>
	<%= paginate @sprinter_bawas %>
	<%= link_to "Back", root_path %>
</div>
</div>
</div>
</div>
</div>