<p id="notice"><%= notice %></p>

<p>
  <strong>Droppoint:</strong>
  <%= @pkhd.droppoint_id %>
</p>

<p>
  <strong>Nomor:</strong>
  <%= @pkhd.nomor %>
</p>

<p>
  <strong>No ref:</strong>
  <%= @pkhd.no_ref %>
</p>

<p>
  <strong>Tanggal:</strong>
  <%= @pkhd.tanggal %>
</p>

<p>
  <strong>Description:</strong>
  <%= @pkhd.description %>
</p>

<p>
  <strong>Tanggal approve:</strong>
  <%= @pkhd.tanggal_approve %>
</p>

<p>
  <strong>User approve:</strong>
  <%= @pkhd.user_approve %>
</p>

<p>
  <strong>User add:</strong>
  <%= @pkhd.user_add %>
</p>

<p>
  <strong>User edit:</strong>
  <%= @pkhd.user_edit %>
</p>

<p>
  <strong>Ip address:</strong>
  <%= @pkhd.ip_address %>
</p>

<p>
  <strong>Flag:</strong>
  <%= @pkhd.flag %>
</p>

<%= link_to 'Edit', edit_pkhd_path(@pkhd) %> |
<%= link_to 'Back', pkhds_path %>
