<p>
  <strong>Kegiatan:</strong>
  <%= @gtw_sortir.kegiatan %>
</p>

<p>
  <strong>Tanggal:</strong>
  <%= @gtw_sortir.tanggal %>
</p>

<p>
  <strong>Manifest:</strong>
  <%= @gtw_sortir.manifest_id %>
</p>

<p>
  <strong>Bagging:</strong>
  <%= @gtw_sortir.bagging_id %>
</p>

<p>
  <strong>Droppoint asal:</strong>
  <%= @gtw_sortir.droppoint_asal %>
</p>

<p>
  <strong>Kg gtw:</strong>
  <%= @gtw_sortir.kg_gtw %>
</p>

<p>
  <strong>Awb gtw:</strong>
  <%= @gtw_sortir.awb_gtw %>
</p>

<p>
  <strong>Kg e3:</strong>
  <%= @gtw_sortir.kg_e3 %>
</p>

<p>
  <strong>Awb e3:</strong>
  <%= @gtw_sortir.awb_e3 %>
</p>

<p>
  <strong>Kg selisih e3:</strong>
  <%= @gtw_sortir.kg_selisih_e3 %>
</p>

<p>
  <strong>Awb selisih e3:</strong>
  <%= @gtw_sortir.awb_selisih_e3 %>
</p>

<p>
  <strong>Fresh paket:</strong>
  <%= @gtw_sortir.fresh_paket %>
</p>

<p>
  <strong>Agent:</strong>
  <%= @gtw_sortir.agent_id %>
</p>

<p>
  <strong>Droppoint tujuan:</strong>
  <%= @gtw_sortir.droppoint_tujuan %>
</p>

<p>
  <strong>Tanggal dp:</strong>
  <%= @gtw_sortir.tanggal_dp %>
</p>

<p>
  <strong>Awb dp:</strong>
  <%= @gtw_sortir.awb_dp %>
</p>

<p>
  <strong>Kg dp:</strong>
  <%= @gtw_sortir.kg_dp %>
</p>

<p>
  <strong>Awb selisih dp:</strong>
  <%= @gtw_sortir.awb_selisih_dp %>
</p>

<p>
  <strong>Kg selisih dp:</strong>
  <%= @gtw_sortir.kg_selisih_dp %>
</p>

<p>
  <strong>Gtw team kerja:</strong>
  <%= @gtw_sortir.gtw_team_kerja %>
</p>

<p>
  <strong>Gtw team shift:</strong>
  <%= @gtw_sortir.gtw_team_shift %>
</p>

<p>
  <strong>Description:</strong>
  <%= @gtw_sortir.description %>
</p>


<%= link_to 'Edit', edit_gtw_sortir_path(@gtw_sortir) %> |
<%= link_to 'Back', gtw_sortirs_path %>
