<p id="notice"><%= notice %></p>

<p>
  <strong>Nomor:</strong>
  <%= @dpoutgoing.nomor %>
</p>

<p>
  <strong>Karyawan:</strong>
  <%= @dpoutgoing.karyawan_id %>
</p>

<p>
  <strong>Droppoint:</strong>
  <%= @dpoutgoing.droppoint_id %>
</p>

<p>
  <strong>Tanggal:</strong>
  <%= @dpoutgoing.tanggal %>
</p>

<p>
  <strong>Transaksi:</strong>
  <%= @dpoutgoing.transaksi %>
</p>

<p>
  <strong>Awb total:</strong>
  <%= @dpoutgoing.awb_total %>
</p>

<p>
  <strong>Uang masuk:</strong>
  <%= @dpoutgoing.uang_masuk %>
</p>

<p>
  <strong>Perkiraan:</strong>
  <%= @dpoutgoing.perkiraan_id %>
</p>

<p>
  <strong>Awb ppcash manual:</strong>
  <%= @dpoutgoing.awb_ppcash_manual %>
</p>

<p>
  <strong>Awb dfod manual:</strong>
  <%= @dpoutgoing.awb_dfod_manual %>
</p>

<p>
  <strong>Awb cod manual:</strong>
  <%= @dpoutgoing.awb_cod_manual %>
</p>

<p>
  <strong>Awb pppm manual:</strong>
  <%= @dpoutgoing.awb_pppm_manual %>
</p>

<p>
  <strong>Awb ppcash online:</strong>
  <%= @dpoutgoing.awb_ppcash_online %>
</p>

<p>
  <strong>Awb dfod online:</strong>
  <%= @dpoutgoing.awb_dfod_online %>
</p>

<p>
  <strong>Awb cod online:</strong>
  <%= @dpoutgoing.awb_cod_online %>
</p>

<p>
  <strong>Awb pppm online:</strong>
  <%= @dpoutgoing.awb_pppm_online %>
</p>

<p>
  <strong>Nilai ppcash manual:</strong>
  <%= @dpoutgoing.nilai_ppcash_manual %>
</p>

<p>
  <strong>Nilai dfod manual:</strong>
  <%= @dpoutgoing.nilai_dfod_manual %>
</p>

<p>
  <strong>Nilai cod manual:</strong>
  <%= @dpoutgoing.nilai_cod_manual %>
</p>

<p>
  <strong>Nilai pppm manual:</strong>
  <%= @dpoutgoing.nilai_pppm_manual %>
</p>

<p>
  <strong>Nilai ppcash online:</strong>
  <%= @dpoutgoing.nilai_ppcash_online %>
</p>

<p>
  <strong>Nilai dfod online:</strong>
  <%= @dpoutgoing.nilai_dfod_online %>
</p>

<p>
  <strong>Nilai cod online:</strong>
  <%= @dpoutgoing.nilai_cod_online %>
</p>

<p>
  <strong>Nilai pppm online:</strong>
  <%= @dpoutgoing.nilai_pppm_online %>
</p>

<p>
  <strong>Description:</strong>
  <%= @dpoutgoing.description %>
</p>

<p>
  <strong>Tanggal approve:</strong>
  <%= @dpoutgoing.tanggal_approve %>
</p>

<p>
  <strong>User approve:</strong>
  <%= @dpoutgoing.user_approve %>
</p>

<p>
  <strong>User add:</strong>
  <%= @dpoutgoing.user_add %>
</p>

<p>
  <strong>User edit:</strong>
  <%= @dpoutgoing.user_edit %>
</p>

<p>
  <strong>Ip address:</strong>
  <%= @dpoutgoing.ip_address %>
</p>

<p>
  <strong>Flag:</strong>
  <%= @dpoutgoing.flag %>
</p>

<%= link_to 'Edit', edit_dpoutgoing_path(@dpoutgoing) %> |
<%= link_to 'Back', dpoutgoings_path %>
