<p id="notice"><%= notice %></p>

<p>
  <strong>Droppoint:</strong>
  <%= @gudang.droppoint %>
</p>

<p>
  <strong>Nama gudang:</strong>
  <%= @gudang.nama_gudang %>
</p>

<p>
  <strong>Area layanan:</strong>
  <%= @gudang.area_layanan %>
</p>

<p>
  <strong>Kota:</strong>
  <%= @gudang.kota %>
</p>

<p>
  <strong>Kecamatan:</strong>
  <%= @gudang.kecamatan %>
</p>

<p>
  <strong>Alamat:</strong>
  <%= @gudang.alamat %>
</p>

<p>
  <strong>No telp:</strong>
  <%= @gudang.no_telp %>
</p>

<p>
  <strong>Mobile phone:</strong>
  <%= @gudang.mobile_phone %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @gudang.contact %>
</p>

<p>
  <strong>Email:</strong>
  <%= @gudang.email %>
</p>

<%= link_to 'Edit', edit_gudang_path(@gudang) %> |
<%= link_to 'Back', gudangs_path %>
