<p id="notice"><%= notice %></p>

<p>
  <strong>Kegiatan:</strong>
  <%= @gtw_smu.kegiatan %>
</p>

<p>
  <strong>Tanggal:</strong>
  <%= @gtw_smu.tanggal %>
</p>

<p>
  <strong>Smu:</strong>
  <%= @gtw_smu.smu_id %>
</p>

<p>
  <strong>Noref:</strong>
  <%= @gtw_smu.noref %>
</p>

<p>
  <strong>Biaya smu:</strong>
  <%= @gtw_smu.biaya_smu %>
</p>

<p>
  <strong>Kasir smu:</strong>
  <%= @gtw_smu.kasir_smu %>
</p>

<p>
  <strong>Biaya koor:</strong>
  <%= @gtw_smu.biaya_koor %>
</p>

<p>
  <strong>Kasir koor:</strong>
  <%= @gtw_smu.kasir_koor %>
</p>

<p>
  <strong>Kg smu:</strong>
  <%= @gtw_smu.kg_smu %>
</p>

<p>
  <strong>Kg fisik:</strong>
  <%= @gtw_smu.kg_fisik %>
</p>

<p>
  <strong>Kg selisih:</strong>
  <%= @gtw_smu.kg_selisih %>
</p>

<p>
  <strong>Bagging smu:</strong>
  <%= @gtw_smu.bagging_smu %>
</p>

<p>
  <strong>Bagging fisik:</strong>
  <%= @gtw_smu.bagging_fisik %>
</p>

<p>
  <strong>Bagging selisih:</strong>
  <%= @gtw_smu.bagging_selisih %>
</p>

<p>
  <strong>Maskapai:</strong>
  <%= @gtw_smu.maskapai %>
</p>

<p>
  <strong>Kendaraan:</strong>
  <%= @gtw_smu.kendaraan_id %>
</p>

<p>
  <strong>Transporter team:</strong>
  <%= @gtw_smu.transporter_team %>
</p>

<p>
  <strong>Description:</strong>
  <%= @gtw_smu.description %>
</p>

<p>
  <strong>Agent:</strong>
  <%= @gtw_smu.agent_id %>
</p>

<p>
  <strong>Tanggal smu:</strong>
  <%= @gtw_smu.tanggal_smu %>
</p>

<p>
  <strong>Terms:</strong>
  <%= @gtw_smu.terms %>
</p>

<p>
  <strong>Tanggal estimasi:</strong>
  <%= @gtw_smu.tanggal_estimasi %>
</p>

<p>
  <strong>Description:</strong>
  <%= @gtw_smu.description %>
</p>

<p>
  <strong>Tanggal approve:</strong>
  <%= @gtw_smu.tanggal_approve %>
</p>

<p>
  <strong>User approve:</strong>
  <%= @gtw_smu.user_approve %>
</p>

<p>
  <strong>User add:</strong>
  <%= @gtw_smu.user_add %>
</p>

<p>
  <strong>User edit:</strong>
  <%= @gtw_smu.user_edit %>
</p>

<p>
  <strong>Ip address:</strong>
  <%= @gtw_smu.ip_address %>
</p>

<p>
  <strong>Flag:</strong>
  <%= @gtw_smu.flag %>
</p>

<%= link_to 'Edit', edit_gtw_smu_path(@gtw_smu) %> |
<%= link_to 'Back', gtw_smus_path %>
