<p id="notice"><%= notice %></p>

<p>
  <strong>Droppoint:</strong>
  <%= @pack.droppoint_id %>
</p>

<p>
  <strong>Tanggal:</strong>
  <%= @pack.tanggal %>
</p>

<p>
  <strong>Manifest:</strong>
  <%= @pack.manifest_id %>
</p>

<p>
  <strong>Tujuan:</strong>
  <%= @pack.tujuan %>
</p>

<p>
  <strong>Agent tujuan:</strong>
  <%= @pack.agent_tujuan %>
</p>

<p>
  <strong>Droppoint tujuan:</strong>
  <%= @pack.droppoint_tujuan %>
</p>

<p>
  <strong>Nomor bagging:</strong>
  <%= @pack.nomor_bagging %>
</p>

<p>
  <strong>Kg fisik:</strong>
  <%= @pack.kg_fisik %>
</p>

<p>
  <strong>Awb fisik:</strong>
  <%= @pack.awb_fisik %>
</p>

<p>
  <strong>Team kerja:</strong>
  <%= @pack.team_kerja %>
</p>

<p>
  <strong>Team shift:</strong>
  <%= @pack.team_shift %>
</p>

<p>
  <strong>Description:</strong>
  <%= @pack.description %>
</p>

<p>
  <strong>Tanggal approve:</strong>
  <%= @pack.tanggal_approve %>
</p>

<p>
  <strong>User approve:</strong>
  <%= @pack.user_approve %>
</p>

<p>
  <strong>User add:</strong>
  <%= @pack.user_add %>
</p>

<p>
  <strong>User edit:</strong>
  <%= @pack.user_edit %>
</p>

<p>
  <strong>Ip address:</strong>
  <%= @pack.ip_address %>
</p>

<p>
  <strong>Flag:</strong>
  <%= @pack.flag %>
</p>

<%= link_to 'Edit', edit_pack_path(@pack) %> |
<%= link_to 'Back', packs_path %>
