<p id="notice"><%= notice %></p>

<p>
  <strong>Droppoint:</strong>
  <%= @unpack.droppoint_id %>
</p>

<p>
  <strong>Sumber:</strong>
  <%= @unpack.sumber %>
</p>

<p>
  <strong>Tanggal:</strong>
  <%= @unpack.tanggal %>
</p>

<p>
  <strong>Manifest:</strong>
  <%= @unpack.manifest_id %>
</p>

<p>
  <strong>Nomor smu:</strong>
  <%= @unpack.nomor_smu %>
</p>

<p>
  <strong>Droppoint asal:</strong>
  <%= @unpack.droppoint_asal %>
</p>

<p>
  <strong>Agent asal:</strong>
  <%= @unpack.agent_asal %>
</p>

<p>
  <strong>Nomor bagging:</strong>
  <%= @unpack.nomor_bagging %>
</p>

<p>
  <strong>Kg fisik:</strong>
  <%= @unpack.kg_fisik %>
</p>

<p>
  <strong>Awb fisik:</strong>
  <%= @unpack.awb_fisik %>
</p>

<p>
  <strong>Kg e3:</strong>
  <%= @unpack.kg_e3 %>
</p>

<p>
  <strong>Awb e3:</strong>
  <%= @unpack.awb_e3 %>
</p>

<p>
  <strong>Fresh paket:</strong>
  <%= @unpack.fresh_paket %>
</p>

<p>
  <strong>Team kerja:</strong>
  <%= @unpack.team_kerja %>
</p>

<p>
  <strong>Team shift:</strong>
  <%= @unpack.team_shift %>
</p>

<p>
  <strong>Description:</strong>
  <%= @unpack.description %>
</p>

<p>
  <strong>Tanggal approve:</strong>
  <%= @unpack.tanggal_approve %>
</p>

<p>
  <strong>User approve:</strong>
  <%= @unpack.user_approve %>
</p>

<p>
  <strong>User add:</strong>
  <%= @unpack.user_add %>
</p>

<p>
  <strong>User edit:</strong>
  <%= @unpack.user_edit %>
</p>

<p>
  <strong>Ip address:</strong>
  <%= @unpack.ip_address %>
</p>

<p>
  <strong>Flag:</strong>
  <%= @unpack.flag %>
</p>

<%= link_to 'Edit', edit_unpack_path(@unpack) %> |
<%= link_to 'Back', unpacks_path %>
