
<%= simple_form_for(@entry_post) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :transaksi %>
    <%= f.input :last_num %>
    <%= f.input :format_key %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
